.button {
    font: inherit;
    border: 1px solid #ccc;
    background: inherit;
    color: #ccc;
    padding: 0.25rem 1rem;
    cursor: pointer;
    box-shadow: 0 1px 8px rgba(240, 234, 234, 0.25);
  }
  
  .button:hover,
  .button:active {
    background: inherit;
    border-color: rosybrown;
    color: rosybrown;
  }
  
  .button:focus {
    outline: none;
  }